{% extends "base.html" %}
{% load static %}

{% block page_header %}
<h2>Newsletter</h2>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-12">
            <hr>
            <h3>About the Newsletter App</h3>
            <hr>
        </div>
        <div class="col">
            <p>This page was created out of habit. As a side thought, wouldn't it be better to give the user the ability
                to subscribe from any page of the site?
            </p>
            <p>The solution could be to place the feature in the footer. It is included in base.html template which can
                easily be extended to any page.
            </p>
            <p>Signing up to something can be considered a passive decision so the more someone is nudged, the more
                likely they are to perform an action.
            </p>
            <p>This is a convention I stumbled upon during the wireframing process but thought it may be useful to leave
                this reflection on the site for other developers.
            </p>
            <p>
                It is unlikely a standard web user would to access this page so there should be no harm in its
                admission.
            </p>
            <p>It was also a good exercise to pass form objects through a context processor rather than just a view to
                make it available to all templates by default rather than having to declare on each.
            </p>
        </div>
    </div>
</div>
{% endblock %}