{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h2>Homepage</h2>
{% endblock %}

{% block content %}
<div class="container text-center">
    <!-- <div class="row">
        <div class="d-none d-lg-block col-lg-6 border home-clearance"><h4>Image</h4></div>
        <div class="col-12 col-lg-6 border"><h4>Clearance</h4></div>
    </div> -->
    <div class="row">
        <div class="d-none d-lg-block col-lg-6 border"><h4>Image</h4></div>
        <div class="col-12 col-lg-6 border"><h4>Clearance</h4></div>
    </div>
    <div class="row">
        <div class="col-12 border"><h3>Shop By Category</h3></div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 border"><h4>Brand</h4></div>
        <div class="col-12 col-md-6 col-lg-4 border"><h4>Weight</h4></div>
        <div class="col-12 col-md-6 col-lg-4 border"><h4>Kit</h4></div>
    </div>
</div>

{% endblock %}


<!-- <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div> -->