<!-- mode rating (1-5 stars) -->
{% if mode_rating >= 5 %}
<p class="mb-0 pb-1">
    <small class="gold-icon-text">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </small>
    <a href="#product-reviews"><span class="pantone-icon-text">({{ reviews.count }} reviews)</span></a>
    {% if user.is_authenticated %}
        <a class="small" href="{% if user.is_authenticated %}#contact-form{% else %}{% url 'account_login' %}{% endif %}"> | Add Your Review</a>
    {% endif %}
</p>

{% elif mode_rating >= 4 %}
<p class="mb-0 pb-1">
    <small class="gold-icon-text">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
    </small>
    <a href="#product-reviews"><span class="pantone-icon-text">({{ reviews.count }} reviews)</span></a>
    {% if user.is_authenticated %}
        <a class="small" href="{% if user.is_authenticated %}#contact-form{% else %}{% url 'account_login' %}{% endif %}"> | Add Your Review</a>
    {% endif %}
</p>

{% elif mode_rating >= 3 %}
<p class="mb-0 pb-1">
    <small class="gold-icon-text">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
    </small>
    <a href="#product-reviews"><span class="pantone-icon-text">({{ reviews.count }} reviews)</span></a>
    {% if user.is_authenticated %}
        <a class="small" href="{% if user.is_authenticated %}#contact-form{% else %}{% url 'account_login' %}{% endif %}"> | Add Your Review</a>
    {% endif %}
</p>

{% elif mode_rating >= 2 %}
<p class="mb-0 pb-1">
    <small class="gold-icon-text">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
    </small>
    <a href="#product-reviews"><span class="pantone-icon-text">({{ reviews.count }} reviews)</span></a>
    {% if user.is_authenticated %}
        <a class="small" href="{% if user.is_authenticated %}#contact-form{% else %}{% url 'account_login' %}{% endif %}"> | Add Your Review</a>
    {% endif %}
</p>

{% elif mode_rating >= 1 %}
<p class="mb-0 pb-1">
    <small class="gold-icon-text">
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
    </small>
    <a href="#product-reviews"><span class="pantone-icon-text">({{ reviews.count }} reviews)</span></a>
    {% if user.is_authenticated %}
        <a class="small" href="{% if user.is_authenticated %}#contact-form{% else %}{% url 'account_login' %}{% endif %}"> | Add Your Review</a>
    {% endif %}
</p>
{% else %}
<p class="mb-0 pb-1">
    <small class="pantone-icon-text">
        No Reviews
    </small>
</p>
{% endif %}