{% extends "base.html" %}
{% load static %}

{% block page_header %}
<h2>My Account</h2>
{% endblock %}

{% block content %}
    <div class="container-fluid mb-2 text-left">
        <div class="row">
            <div class="col-12 text-center">
                <hr>
                <h3>Hello {{ user.username }}</h3>
                <p>From here you can updated your usual delivery address and review your past orders!</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 ">
                <p class="small text-muted">Default Delivery Information</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="row d-flex align-items-center justify-content-center justify-content-lg-end text-center p-0 m-0">
                        <button class="py-2 my-2 product-details-button col-12 col-md-6">Update Information</button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-6">
                <p class="small text-muted">Order History</p>
                {{ orders }}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}