{% extends "base.html" %}
{% load static %}

{% block page_header %}
<h2>Basket</h2>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="border container-inner text-center">
            <div class="border row">
                <!-- Basket contents -->
                {% if basket_items %}
                    <div class="border p-0 col-12">{{ basket_items }}</div>
                    {% else %}
                    <p class="col-12">Your basket is empty.</p>
                {% endif %}
                    
                <!-- Totals -->
                <div class="border p-0 m-0 col-12 text-right">Totals</div>
                <!-- Buttons -->
                <div class="border p-0 m-0 col-12 text-right">
                    <div class="border d-flex-column align-items-center justify-content-end text-center row p-0 m-0">
                        <a href="{% url 'products' %}" class="py-2 py-sm-0 my-2 product-details-button col-12 col-sm-2">
                            <i class="fa-solid fa-shop d-xs-none"></i>
                            <span class="d-none d-sm-block">To Store </span>
                        </a>
                        <div class="w-100"></div>
                        <a href="#" class="px-0 py-2 py-sm-0 my-2 product-details-button col-12 col-sm-2">
                            <i class="fa-solid fa-credit-card d-xs-none"></i>
                            <span class="d-none d-sm-block">Pay Now</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}