/* base.css */

/* fonts/typography */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Happy+Monkey&display=swap');

/* Platinum Jubiliee colors */
/* hex # to RGB conversion using https://www.rapidtables.com/convert/color/hex-to-rgb.html */
:root {
    /* Platinum #E5E4E2 */
    --theme-platinum: 229, 228, 226;
    /* Pantone #61007D */
    --theme-pantone: 97, 0, 125;
    /* Gold #BF9D5E */
    --theme-gold: 191, 157, 94;
}

/* general */
*,
*::before,
*::after {
    box-sizing: border-box;
}

a:hover,
a:focus {
    color: rgba(var(--theme-pantone), 1);
    text-decoration: underline;
}

/* html */
html {
    height: 100%;
    scroll-behavior: smooth;
}

/* body */
body {
    height: calc(100vh - 290px);
}

/* spacer to keep header unobstructed < sm screen */
.spacer-mobile {
    height: 184px;
}

/* heading elements */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Caveat', cursive, sans-serif;
    margin-bottom: 0;
}

/* overide link styling */
a {
    color: black;
    text-decoration: none;
}

/* allauth forms */
.allauth-inner-content label:not([for="id_remember"]) {
    display: none;
}

/* header */
header {
    background: white;
}

.header-container {
    background: rgba(var(--theme-platinum), 1);
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin: auto;
    padding: 0 1em;
}

.sm-border-bottom {
    border-bottom: 3px solid rgba(var(--theme-pantone), 1);
}

/* menus */
.navbar-toggler {
    position: relative;
    top: 6px;
    left: 2px;
}

.navbar-collapse {
    background: rgba(var(--theme-pantone), 1);
}

.dropdown a,
li .nav-link {
    color: white;
    text-decoration: none;
}

#navbarToggler .nav-link,
.dropdown-menu button:hover,
.dropdown-menu button:focus,
.dropdown-item {
    background: rgba(var(--theme-pantone), 1);
    color: white;
    border: 2px solid rgba(var(--theme-pantone), 1);
}

#navbarToggler .nav-link {
    padding-left: 8px;
}

.gold-icon-border {
    border: 2px solid rgba(var(--theme-gold), 1);
}

.pantone-icon-text {
    color: rgba(var(--theme-pantone), 1);
    font-size: 0.75em;
}

.gold-icon-text {
    color: rgba(var(--theme-gold), 1);
    font-size: 0.75em;
}

.header-icon {
    color: rgba(var(--theme-pantone), 1);
}

.search-form-container {
    max-height: 50px;
}

.search-form-input:hover,
.search-form-input:focus  {
    background: rgba(var(--theme-platinum), 1);
}

/* footer */
.btt-btn {
    background: white;
}

.btt-btn a {
    color: rgba(var(--theme-gold), 1);
    padding: 3px 0;
    text-decoration: none;
}

.footer-newsletter {
    background: rgba(var(--theme-pantone), 1);
    border: rgba(var(--theme-gold), 1);
}

.footer-newsletter p {
    color: white;
}

.wishlist-to-basket {
    color: rgba(var(--theme-gold), 1);
}

.footer-envelope {
    color: rgba(var(--theme-gold), 1);
}

.wishlist-bin {
    color: darkred;
}

.footer-body {
    background:rgba(var(--theme-platinum), 1);
}

.form-input,
.footer-newsletter input[type="email"] {
    border-radius: 6px;
    padding: 2px 6px;
    border: 2px solid rgba(var(--theme-gold), 1);
    color: black;
}

.form-input:focus,
.footer-newsletter input[type="email"]:focus {
    border-radius: 6px;
    padding: 2px 6px;
    background: rgba(var(--theme-platinum), 1);
    color: black;
}

.contact-form-button,
.product-details-button,
.newsletter-button,
.allauth-inner-content button {
    background:rgba(var(--theme-platinum), 1);
    color: black;
    border-radius: 6px;
    padding: 2px 6px;
    text-decoration: none;
    border: 2px solid rgba(var(--theme-gold), 1);
}

.contact-form-button:hover,
.contact-form-send-button:focus,
.product-details-button:hover,
.product-details-button:focus,
.newsletter-button:hover,
.newsletter-button:focus,
.allauth-inner-content button:hover,
.allauth-inner-content button:focus {
    background:rgba(var(--theme-gold), 1);
    color: black;
    border-radius: 6px;
    padding: 2px 6px;
    text-decoration: none;
    border: 2px solid rgba(var(--theme-platinum), 1);
}

.footer-contact {
    background:rgba(var(--theme-platinum), 1);
    color: black;
}

.footer-social {
    background:rgba(var(--theme-platinum), 1);
    color: black;
}

.footer-social a {
    color: black;
}

.footer-social a:hover,
.footer-social a:focus {
    color: rgba(var(--theme-pantone), 1);
}

.footer-dev-info {
    background: rgba(var(--theme-gold), 1);
    padding: 2px 6px;
    text-decoration: none;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 22px;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* media query sm / 575px */
@media only screen and (min-width: 575px) {
    /* spacer to keep header unobstructed > sm screen*/
    #search-form {
        position: relative;
        right: 16px;

    }

    .spacer-tablet {
        height: 207px;
    }

    .navbar {
        position: relative;
    }
}