/* fonts/typography */


/* general */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Platinum Jubiliee colors */
/* hex # to RGB conversion using https://www.rapidtables.com/convert/color/hex-to-rgb.html */
:root {
    /* Platinum #E5E4E2 */
    --theme-platinum: 229, 228, 226;
    /* Pantone #61007D */
    --theme-pantone: 97, 0, 125;
    /* Gold #BF9D5E */
    --theme-gold: 191, 157, 94;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

/* html */
html {
    height: 100%;
    scroll-behavior: smooth;
}

/* header */
header {
    background: white;
}

.gold-icon-border {
    border: 2px solid rgba(var(--theme-gold), 1);
}

.pantone-icon-text {
    color: rgba(var(--theme-pantone), 1);
    font-size: 0.75em;
}

.header-icon {
    color: rgba(var(--theme-pantone), 1);
}

#search-form {
    background: rgba(var(--theme-platinum), 1);
    max-width: 384px;
}

.search-form-input:hover,
.search-form-input:focus  {
    background: rgba(var(--theme-platinum), 1);
}

.product-nav {
    background: rgba(var(--theme-pantone), 1);
    max-height: 2em;
}

.product-nav a{
    color: white;
    text-decoration: none;
}

.product-navbar {
    /* background: rgba(var(--theme-pantone), 1); */
    color: white;
}
/* spacers to keep header unobstructed*/
.spacer-mobile {
    height: 240px;
}

.spacer-tablet {
    height: 330px;
}


/* body */
body {
    height: calc(100vh - 240px);
}

/* footer */
#main-footer {
    background: orangered;
}

#mobile-footer {
    background: lightblue;
}

.btt-btn {
    background: white;
    color: rgba(var(--theme-gold), 1);
    text-decoration: none;
    padding: 3px 0;
}

.footer-newsletter {
    background: rgba(var(--theme-pantone), 1);
    border: rgba(var(--theme-gold), 1);
}

.footer-newsletter p {
    color: white;
}

.footer-envelope {
    color: rgba(var(--theme-gold), 1);
}

.footer-newsletter input[type="email"] {
    border-radius: 6px;
    padding: 2px 6px;
    border: 2px solid rgba(var(--theme-gold), 1);
}

.footer-newsletter input[type="email"]:focus {
    border-radius: 6px;
    padding: 2px 6px;
    background: rgba(var(--theme-platinum), 1);
}

.newsletter-button {
    background:rgba(var(--theme-platinum), 1);
    color: black;
    border-radius: 6px;
    padding: 2px 6px;
    text-decoration: none;
    border: 2px solid rgba(var(--theme-gold), 1);
}

.newsletter-button:hover {
    background:rgba(var(--theme-gold), 1);
    color: black;
    border-radius: 6px;
    padding: 2px 6px;
    text-decoration: none;
    border: 2px solid rgba(var(--theme-platinum), 1);
}

.footer-contact {
    background:rgba(var(--theme-platinum), 1);
    color: black;
}

.footer-social {
    background:rgba(var(--theme-platinum), 1);
    color: black;
}

.footer-social a {
    color: black;
}

.footer-social a:hover,
.footer-social a:focus {
    color: rgba(var(--theme-pantone), 1);
}

.footer-dev-info {
    background: rgba(var(--theme-gold), 1);
}