/* fonts/typography */


/* general */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Platinum Jubiliee colors */
/* hex # to RGB conversion using https://www.rapidtables.com/convert/color/hex-to-rgb.html */
:root {
    /* Platinum #E5E4E2 */
    --theme-platinum: 229, 228, 226;
    /* Pantone #61007D */
    --theme-pantone: 97, 0, 125;
    /* Gold #BF9D5E */
    --theme-gold: 191, 157, 94;
}

/* html */
html {
    scroll-behavior: smooth;
}

/* header */
header {
    background: white;
}

/* body */

/* footer */
#main-footer {
    background: orangered;
}

#mobile-footer {
    background: lightblue;
}

.footer-newsletter {
    background: rgba(var(--theme-pantone), 1);
    border: rgba(var(--theme-gold), 1);
}

.footer-newsletter p {
    color: white;
}

.footer-dev-info {
    background: rgba(var(--theme-gold), 1);
}

.btt-btn {
    background: white;
    color: rgba(var(--theme-gold), 1);
}

.footer-envelope {
    color: rgba(var(--theme-gold), 1);
}