/* products css */

/* to remove x-overflow */
.container-inner {
    margin: 1em 0;
    padding: 0 1em;
}

.content-title-filter,
.category-filter {
    background: rgba(var(--theme-platinum), 1);
}

.category-title {
    background: rgba(var(--theme-pantone), 1);
    color: white;
}

.products-container {
    
}

.product-card {
    background: greenyellow;
}

.pagination {
    background: rgba(var(--theme-platinum), 1);
}

/* media query md / 768px */
    @media only screen and (min-width: 768px) {
    .category-title {
        text-align: left;
    }
}