/* products css */

/* to remove x-overflow */
.container-inner {
    margin: 1em 0;
    padding: 0 1em;
}

.content-title-filter,
.category-filter {
    background: rgba(var(--theme-platinum), 1);
}

.category-title {
    background: rgba(var(--theme-pantone), 1);
    color: white;
}

.product-card {
    background: rgba(var(--theme-platinum), 1);
}

.product-card-body {
    background: rgba(var(--theme-platinum), 1);
    min-height: 70px;
}

.product-card-footer {
    background: rgba(var(--theme-platinum), 1);
}

.pagination {
    background: rgba(var(--theme-platinum), 1);
}


/* media query pagination @ 430px */
@media only screen and (max-width: 430px) {
    .pagination {
            font-size: x-small;
        }
    }


/* media query md / 768px */
    @media only screen and (min-width: 768px) {
        .category-title {
            text-align: left;
        }
    }

/* product_details css */
/* media query md / 768px */
@media only screen and (min-width: 768px) {
    .image-container {
        min-height: 100%;
        width: 100%
    }
}