<div class="col-12 footer-social text-center">
    <div class="row py-2">
        <div class="col-12 py-2">Connect with us:</div>
        <div class="col-12 py-2">
            <a href="https://www.facebook.com/Artisan-Yarns-101716042612963" target="_blank" rel="noopener"
                aria-label="Visit our Facebook page (link possibly disconnected as noty a real store)">
                <i class="fa-brands fa-facebook-f fa-2x mx-2"></i></a>
            <a href="https://instagram.com" target="_blank" rel="noopener"
                aria-label="Visit our Instagram page (opens in a new tab)">
                <i class="fa-brands fa-instagram fa-2x mx-2"></i></a>
            <a href="https://github.com/StevenWeir038" target="_blank" rel="noopener"
                aria-label="Visit my Github page (opens in a new tab)">
                <i class="fa-brands fa-github fa-2x mx-2"></i></a>
        </div>
    </div>
</div>