<header class="container-fluid fixed-top">
    <!-- logo -->
    <div class="row d-flex justify-content-center">
        <a href="{% url 'home' %}">
            <div class="col-12 site-logo">
                <img src="{{ MEDIA_URL }}artisan-logo.png" alt="site logo and home link">
            </div>
        </a>
    </div>
    <div class="row d-flex justify-content-center pt-2">
        <!-- show collapsible navbar for small viewports -->
        <div class="col-2 d-md-none">
            {% include 'includes/navbar.html' %}
        </div>
        <!-- contact -->
        <div class="col-2 text-center">
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'contact' %}">
                        <i class="fa-solid fa-phone header-icon gold-icon-border rounded p-2"></i>
                    </a>
                </div>
                <div class="col-12 pantone-icon-text d-none d-sm-block">
                    Contact
                </div>
            </div> 
        </div>
        <!-- help -->
        <div class="col-2 text-center">
            <div class="row">
                <div class="col-12">
                    <!-- button trigger -->
                    <span data-toggle="modal" data-target="#helpModal">
                        <i class="fa-solid fa-circle-question header-icon gold-icon-border rounded p-2"></i>
                    </span>
                </div>
                <div class="col-12 pantone-icon-text d-none d-sm-block">
                    Help
                </div>
            </div> 
        </div>
        <!-- wishlist -->
        <div class="col-2 text-center">
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'wishlist' %}">
                        <i class="fa-solid fa-heart header-icon gold-icon-border rounded p-2"></i>
                    </a>
                </div>
                <div class="col-12 pantone-icon-text d-none d-sm-block">
                    Wishlist
                </div>
            </div> 
        </div>
        <!-- account -->
        <div class="col-2 text-center">
            <div class="row">
                <div class="col-12 header-icon dropdown">
                    <i class="fa-solid fa-user-large p-2 dropdown-toggle" type="button" id="account-menu"data-toggle="dropdown" aria-expanded="false"></i>

                    <!-- dropdown menu for authentication options et al -->
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="account-menu">
                        <h6 class="dropdown-header">Account Menu</h6>
                        <div class="dropdown-divider"></div>
                        {% if user.is_authenticated %}
                            <a href="{% url 'profile' %}"><button class="dropdown-item" type="button">My Account</button></a>
                            <a href="{% url 'account_logout' %}"><button class="dropdown-item" type="button">Sign Out</button></a>
                        {% else %}
                            <a href="{% url 'account_signup' %}"><button class="dropdown-item" type="button">Sign Up</button></a>
                            <a href="{% url 'account_login' %}"><button class="dropdown-item" type="button">Sign In</button></a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 pantone-icon-text d-none d-sm-block">Account</div>
            </div>
        </div>
        <!-- checkout -->
        <div class="col-2 text-center">
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'checkout' %}">
                        <i class="fa-solid fa-basket-shopping p-2"></i>
                    </a>
                </div>
                <div class="col-12 pantone-icon-text d-none d-sm-block">
                    Checkout
                </div>
            </div>
        </div>
        <!-- full navbar for medium + viewports -->
        <div class="col-12 p-0 d-none d-md-block">
            {% include 'includes/navbar.html' %}
        </div>
        <!-- searchbar -->
        {% include 'includes/searchbar.html' %}
    </div>
</header>
<!-- help modal -->
{% include 'includes/help-modal.html' %}



    