<header class="container-fluid fixed-top">

    <div class="row">
        <!-- logo -->
        <div class="col-12 d-flex align-items-center justify-content-center pb-2">
            <a href="{% url 'home' %}" class="nav-link">  <!-- still have to create homepage delete comment ance completed and tested --> 
                <img src="static 'images/artisan-logo.png'" alt="Site logo and home link">  <!-- fix issue - logo not displaying -->
            </a>
            
        </div>

        <!-- Navigation REPLACE THIS WIH COLLAPSIBLE NAV FROM BOOTSTRAP DOCS-->
        <div class="col-2 d-flex align-items-center justify-content-start">
            <div class="row">
                <div class="col-5 offset-1">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="col-6 p-0 text-left d-none d-sm-block">
                    Menu
                </div>
            </div>
        <!-- collapsible navbar-->
        {% include 'includes/navbar.html' %}
        </div>

        <!-- contact -->
        <div class="col-2 text-center">
            <div class="row">
                <div class="col-12"><i class="fa-solid fa-phone header-icon gold-icon-border rounded p-2"></i></div>
                <div class="col-12 pantone-icon-text d-none d-sm-block">Contact</div>
            </div> 
        </div>

        <!-- help -->
        <div class="col-2 text-center">
            <div class="row">
                <div class="col-12"><i class="fa-solid fa-circle-question header-icon gold-icon-border rounded p-2"></i></div>
                <div class="col-12 pantone-icon-text d-none d-sm-block">Help</div>
            </div> 
        </div>

        <!-- wishlist -->
        <div class="col-2 text-center">
            <div class="row">
                <div class="col-12"><i class="fa-solid fa-heart header-icon gold-icon-border rounded p-2"></i></div>
                <div class="col-12 pantone-icon-text d-none d-sm-block">Wishlist</div>
            </div> 
        </div>

        <!-- account -->
        <div class="col-2 text-center">
            <div class="row">
                <div class="col-12 header-icon "><i class="fa-solid fa-user-large p-2"></i></div>
                <div class="col-12 pantone-icon-text d-none d-sm-block">Account</div>
            </div>
        </div>

        <!-- basket -->
        <div class="col-2 text-center">
            <div class="row">
                <div class="col-12"><i class="fa-solid fa-basket-shopping p-2"></i></div>
                <div class="col-12 pantone-icon-text d-none d-sm-block">Basket</div>
            </div>
        </div>

        <!-- searchbar -->
        <div class="col-12 py-2 d-flex justify-content-center justify-content-sm-end">
            <form method="GET" action="" class="border-0">
                <div class="input-group searchbar gold-icon-border rounded">
                    <input type="text" class="form-control border-0 searchbar" name="query" placeholder="Search for an item..." aria-label="Type something and press enter or select the icon to search the site">
                    <div class="input-group-append"></div>
                        <button class="btn btn-outline-none" type="submit">
                            <span class="pantone-icon-text">
                                <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                            </span>
                        </button>
                </div>
            </form>
        </div>

    </div>

</header>