<header class="container-fluid">

    <div class="row">
        <div class="col-12">
            <h1>Artisan Yarns</h1>
        </div>
        <div class="col-2">Menu
            <!-- Navigation -->
            {% include 'includes/navbar.html' %}
        </div>
        <div class="col-2">Contact</div>
        <div class="col-2">Help</div>
        <div class="col-2">Wishlist</div>
        <div class="col-2">Account</div>
        <div class="col-2">Basket</div>
        <div class="col-12">Searchbar</div>
    </div>

</header>