<div class="site-menu row d-flex justify-content-center sm-border-bottom p-2">
    <div class="col-2 text-center">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'contact' %}">
                    <i class="fa-solid fa-phone header-icon gold-icon-border rounded p-2"></i>
                </a>
            </div>
            <div class="col-12 pantone-icon-text d-none d-sm-block">
                Contact
            </div>
        </div>
    </div>
    <div class="col-2 text-center">
        <div class="row">
            <div class="col-12">
                <span data-toggle="modal" data-target="#helpModal">
                    <i class="fa-solid fa-circle-question header-icon gold-icon-border rounded p-2"></i>
                </span>
            </div>
            <div class="col-12 pantone-icon-text d-none d-sm-block">
                Help
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="col-2 text-center">
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'wishlist' %}">
                        <i class="fa-solid fa-heart header-icon gold-icon-border rounded p-2"></i>
                    </a>
                </div>
                <div class="col-12 pantone-icon-text d-none d-sm-block">
                    Wishlist
                </div>
            </div>
        </div>
    {% endif %}
    <div class="col-2 text-center">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'view_basket' %}">
                    <i class="fa-solid fa-basket-shopping p-2 gold-icon-border rounded"></i>
                </a>
            </div>
            <div class="col-12 pantone-icon-text d-none d-sm-block">
                Basket
            </div>
        </div>
    </div>
    <div class="col-2 text-center">
        <div class="row">
            <div class="col-12 header-icon dropdown">
                <i class="fa-solid fa-user-large p-2 dropdown-toggle" id="account-menu" role="button"
                    data-toggle="dropdown" aria-expanded="false"></i>
                <div class="py-0 dropdown-menu dropdown-menu-right" aria-labelledby="account-menu">
                    {% if user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a class="dropdown-item" href="{% url 'add_product' %}">Product Management</a>
                        {% endif %}
                        <a class="dropdown-item"href="{% url 'profile' %}">My Account</a>
                        <a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a>
                        <a class="dropdown-item" href="{% url 'account_login' %}">Sign In</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 pantone-icon-text d-none d-sm-block">Account</div>
        </div>
    </div>
</div>