<footer id="main-footer">

    <div class="row">
        <div class="col-12 btt-btn text-center"><a href="#"><i class="fa-solid fa-angles-up"></i></a></div>
        <!-- newsletter -->
        {% include 'includes/newsletter.html' %}
    </div>

    <div class="row footer-contact">
        <div class="col-4">Links
            <div class="row">
                <div class="col-12 offset-1">
                    <i class="fa-solid fa-house-chimney"></i> Home
                </div>
                <div class="col-12 offset-1">
                    <i class="fa-solid fa-phone"></i> Contact
                </div>
                <div class="col-12 offset-1">
                    <i class="fa-solid fa-circle-question"></i> Help
                </div>
                <div class="col-12 offset-1">
                    <i class="fa-solid fa-heart"></i> Wishlist
                </div>
            </div>
        </div>
        <div class="col-4">Details
        </div>
        <div class="col-4">Social
        </div>
    </div>


    
        
    
        
            <div class="col-12 footer-social text-center">
                <div class="row py-2">
                    <div class="col-12 py-2">Connect with us:</div>
                    <div class="col-12 py-2">
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)">
                            <i class="fa-brands fa-facebook-f fa-2x mx-2"></i></a>
                        <a href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit our Instagram page (opens in a new tab)">
                            <i class="fa-brands fa-instagram fa-2x mx-2"></i></a>
                        <a href="https://github.com/StevenWeir038" target="_blank" rel="noopener" aria-label="Visit my Github page (opens in a new tab)">
                            <i class="fa-brands fa-github fa-2x mx-2"></i></a>
                    </div>
                </div>
            </div>
        
        <!-- company/developer name & copyright year in main footer -->
        {% include 'includes/copyright.html' %}
    </div>
</footer>