<footer id="main-footer" class="d-none d-sm-block">
    <!-- back to top -->
    <div class="col-12 btt-btn text-center">
        <a href="#">
            <i class="fa-solid fa-angles-up"></i>
        </a>
    </div>

    <!-- newsletter -->
    {% include 'includes/newsletter.html' %}

    <!-- contact -->
    <div class="footer-contact py-2">

        <div class="row mx-0">
        <!-- links -->
            <div class="col-sm-5 col-lg-4">
                <div class="row">
                    <div class="col-11 offset-1">
                        <a href="{% url 'home' %}">
                            <i class="fa-solid fa-house-chimney"></i> Home
                        </a>
                    </div>
                    <div class="col-11 offset-1">
                        <a href="{% url 'contact' %}">
                            <i class="fa-solid fa-phone"></i> Contact
                        </a>
                    </div>
                    <div class="col-11 offset-1">
                        <i class="fa-solid fa-circle-question"></i> Help
                    </div>
                    <div class="col-11 offset-1">
                        <a href="{% url 'wishlist' %}">
                            <i class="fa-solid fa-heart"></i> Wishlist
                        </a>
                    </div>
                </div>
            </div>
        

            <!-- contact details -->
            <div class="col-sm-7 col-lg-5">
                <div class="row">
                    <div class="col-3 text-right p-0">
                        <p>Address:</p>
                    </div>
                    <div class="col-9 text-left">
                        <p>Business Address</p>
                    </div>
                    <div class="col-3 text-right p-0">
                        <p>Phone:</p>
                    </div>
                    <div class="col-9 text-left">
                        <p>+44 (028) 12345678</p>
                    </div>
                    <div class="col-3 text-right p-0">
                        <p>Email:</p>
                    </div>
                    <div class="col-9 text-left">
                        <p>artisan-yarns@smail.com</p>
                    </div>
                </div>
            </div>

            <!-- social -->
            <div class="col-sm-12 col-lg-3">
                <!-- social links in main footer -->
                {% include 'includes/footer-social.html' %}
            </div>
        </div>
    </div>

    <!-- company/developer name & copyright year in main footer -->
    {% include 'includes/copyright.html' %}

</footer>