<footer id="mobile-footer">

    <div class="row">
        <div class="col-12 btt">BTT Button <i class="fa-solid fa-angles-up"></i></div>
        <div class="col-12 footer-newsletter">Newsletter <i class="fa-solid fa-envelope"></i></div>
        <div class="col-12 footer-contact">Contact Informaton <i class="fa-solid fa-house-chimney"></i><i class="fa-solid fa-phone"></i><i class="fa-solid fa-circle-question"></i><i class="fa-solid fa-heart"></i></div>
        <div class="col-12 footer-dev-info">Developer Info <i class="fa-solid fa-copyright"></i></div>
    </div>

</footer>