<footer id="mobile-footer" class="d-sm-none">
    <!-- back to top -->
    <div class="col-12 btt-btn text-center">
        <a href="#">
            <i class="fa-solid fa-angles-up"></i>
        </a>
    </div>
    
    <!-- newsletter -->
    {% include 'includes/newsletter.html' %}

    <!-- contact -->
    <div class="col-12 footer-contact py-2">
    
        <!-- links -->
        <div class="row">
            <div class="col-10 offset-1">
                <a href="{% url 'home' %}">
                    <i class="fa-solid fa-house-chimney"></i> Home
                </a>
            </div>
            <div class="col-10 offset-1">
                <a href="{% url 'contact' %}">
                    <i class="fa-solid fa-phone"></i> Contact
                </a>
            </div>
            <div class="col-10 offset-1">
                <!-- button trigger -->
                <span data-toggle="modal" data-target="#helpModal">
                    <i class="fa-solid fa-circle-question"></i> Help
                </span>
            </div>
            <div class="col-10 offset-1">
                <a href="{% url 'wishlist' %}">
                    <i class="fa-solid fa-heart"></i> Wishlist
                </a>
            </div>
            <div class="col-11 offset-1">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}">
                        <i class="fa-solid fa-user"></i> My Account
                    </a>
                {% endif %}
            </div>
            <div class="col-11 offset-1">
                <a href="{% url 'view_basket' %}">
                    <i class="fa-solid fa-basket-shopping"></i> Basket
                </a>
            </div>
        </div>

        <!-- contact details -->
        <div class="row pt-3">
            <div class="col-3 offset-1 text-right">
                <p>Address:</p>
            </div>
            <div class="col-8 text-left">
                <p>Business Address</p>
            </div>
            <div class="col-3 offset-1 text-right">
                <p>Phone:</p>
            </div>
            <div class="col-8 text-left">
                <p>+44 (028) 12345678</p>
            </div>
            <div class="col-3 offset-1 text-right">
                <p>Email:</p>
            </div>
            <div class="col-8 text-left">
                <p>artisan-yarns@smail.com</p>
            </div>
        </div>

        <!-- social -->
        <!-- social links in mobile footer -->
        {% include 'includes/footer-social.html' %}

    </div>

    <!-- company/developer name & copyright year in mobile footer -->
    {% include 'includes/copyright.html' %}

</footer>

