<header class="container-fluid fixed-top d-sm-none">
    <div class="row">



        <!-- main products nav bar -->	
        <nav class="navbar navbar-expand-sm p-0 m-0 fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                {% include 'includes/navbar.html' %}
            </div>
        </nav>



        <!-- logo -->
        <div class="col-12 col-sm-6 p-0 d-flex justify-content-center">
            <a href="{% url 'home' %}">
                <img src="{{ MEDIA_URL }}artisan-logo.png" alt="site logo and home link">
            </a>
        </div>
    </div>
    <div class="row">
    <!-- searchbar -->
        <form id="search-form" method="GET" action="{% url 'products' %}" class="col-10 offset-1 col-sm-6 offset-sm-3 border-0 rounded w-100 d-flex justify-content-center">
            <div class="input-group gold-icon-border rounded">
                <input type="text" class="form-control search-form-input border-0" name="q"
                    placeholder="Search..."
                    aria-label="Type something and press enter or select the icon to search the site">
                <div class="input-group-append">
                    <button class="btn btn-outline-none" type="submit">
                        <span class="pantone-icon-text">
                            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- apps menu bar -->
    {% include 'includes/header_apps_menu.html' %}
</header>
<!-- help modal -->
{% include 'includes/help-modal.html' %}