<footer id="mobile-footer" class="d-sm-none">
    <!-- back to top -->
    <div class="col-12 btt-btn text-center">
        <a href="#">
            <i class="fa-solid fa-angles-up"></i>
        </a>
    </div>
    <!-- newsletter -->
    {% include 'includes/newsletter.html' %}
    <!-- contact -->
    <div class="col-12 footer-contact py-2">
        <!-- links -->
        <div class="row">
            <div class="col-10 offset-1">
                <a href="{% url 'home' %}">
                    <i class="fa-solid fa-house-chimney"></i> Home
                </a>
            </div>
            <div class="col-10 offset-1">
                <a href="{% url 'contact' %}">
                    <i class="fa-solid fa-phone"></i> Contact
                </a>
            </div>
            <div class="col-10 offset-1">
                <!-- button trigger -->
                <span data-toggle="modal" data-target="#helpModal">
                    <i class="fa-solid fa-circle-question"></i> Help
                </span>
            </div>
            <div class="col-10 offset-1">
                <a href="{% url 'wishlist' %}">
                    <i class="fa-solid fa-heart"></i> Wishlist
                </a>
            </div>
            <div class="col-11 offset-1">
                {% if user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'add_product' %}">
                            <i class="fa-solid fa-plus"></i> Product Management
                        </a>
                        <div class="w-100"></div>
                    {% endif %}
                    <a href="{% url 'profile' %}">
                        <i class="fa-solid fa-user"></i> My Account
                    </a>
                {% endif %}
            </div>
            <div class="col-11 offset-1">
                <a href="{% url 'view_basket' %}">
                    <i class="fa-solid fa-basket-shopping"></i> Basket
                </a>
            </div>
        </div>
        <!-- contact details -->
        <div class="small row pt-3">
            <div class="col-11 offset-1 text-left">
                <p class="font-weight-bold mb-0">Address:</p>
                <p class="mb-0">20 Marine Parade</p>
                <p class="mb-0">Whitehead</p>
                <p class="mb-2">BT38 9QP</p>
            </div>
            <div class="col-11 offset-1 text-left">
                <p class="font-weight-bold mb-0">Phone:</p>
                <p class="mb-2">+44 (028) 12345678</p>
            </div>
            <div class="col-11 offset-1 text-left">
                <p class="font-weight-bold mb-0">Email:</p>
                <p class="mb-2">artisan-yarns@example.com</p>
            </div>
        </div>
        <!-- social -->
        {% include 'includes/footer-social.html' %}
    </div>
    <!-- company/developer name & copyright year in mobile footer -->
    {% include 'includes/copyright.html' %}
</footer>