<div class="container-fluid product-nav d-flex justify-content-center p-2">
    <nav class="navbar navbar-expand-md navbar">
        <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon nav-hamburger gold-icon-border"><i class="fa-solid fa-bars"></i></span>
        </button>

        <div class="col collapse navbar-collapse left" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">All Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}?category=yarn">Yarn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}?category=kit">Kit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}?category=clearance">Clearance</a>
                </li>
            </ul>
        </div>
    </nav>
</div>