<div class="container-fluid d-flex justify-content-center">
    <nav class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="col collapse navbar-collapse left" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Brand</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Weight</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Clearance</a>
                </li>
            </ul>
        </div>
    </nav>
</div>