<div class="col-12 footer-newsletter">
    <div class="col text-center">
        <p>Stay hooked! Sign up to our newsletter</p>
    </div>
    <div class="col-12 text-center footer-envelope">
        <i class="fa-solid fa-envelope fa-lg theme-gold"></i>
        <!-- <input id="email-field" type="email" name="user-email" placeholder="Enter your email address..."
            aria-label="Enter your email address" required> -->
        <form class="" action="{% url 'newsletter' %}" method="POST" id="newsletter-form">
            {% csrf_token %}
            {{ subscription_form | crispy }}
            <div class="col-12 text-center py-2">
                <a href="#" class="newsletter-button">Subscribe</a>
            </div>
        </form>
    </div> 
</div>



<!-- subscription_form.as_p }} -->