<div class="col-12 d-flex justify-content-center justify-content-lg-end pt-2">
    <form id="search-form" method="GET" action="{% url 'products' %}" class="border-0 rounded w-100">
        <div class="input-group gold-icon-border rounded">
            <input type="text" class="form-control search-form-input border-0" name="query" placeholder="Search for an item..."
                aria-label="Type something and press enter or select the icon to search the site">
            <div class="input-group-append">
                <button class="btn btn-outline-none" type="submit">
                    <span class="pantone-icon-text">
                        <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>