{% load static %}

<!doctype html>
<html lang="en">

<!-- head -->
{% include 'includes/head.html' %}

<body>
    <!-- header -->
    {% include 'includes/header.html' %}
    <!-- spacer div to prevent header/body overlap -->
    <div class="spacer-mobile d-md-none"></div>
    <div class="spacer-tablet d-none d-md-block"></div>

    <!-- messages -->
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    <!-- to act as an additional header on pages that extend this base template in case we
    want to put something at the top of those pages but underneath the main header -->
    <div class="header-container">
        <div class="row">
            <div class="col">
                {% block page_header %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- main content -->
    {% block content %}
    {% endblock %}

    <!-- footer (place inside block to give option to use footer on individual pages)-->
    {% block footer %}
    {% include 'includes/mobile-footer.html' %}
    {% include 'includes/main-footer.html' %}
    {% endblock %}

    <!-- js scripts to load at end of page -->
    {% block postloadjs %}
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>
    {% endblock %}

</body>

</html>