{% load static %}

<!doctype html>
<html lang="en">

<!-- head -->
{% include 'includes/head.html' %}

<body>
    <!-- header -->
    {% include 'includes/header.html' %}

    <!-- messages -->
    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    <!-- to act as an additional header on pages that extend this base template in case we
    want to put something at the top of those pages but underneath the main header -->
    {% block page_header %}
    {% endblock %}

    <!-- main content -->
    {% block maincontent %}
    {% endblock %}

    <!-- footer (place inside block to give option to use footer on individual pages)-->
    {% block footer %}
        {% include 'includes/mobile-footer.html' %}
        {% include 'includes/main-footer.html' %}
    {% endblock %}

    <!-- js scripts to load at end of page -->
    {% block postloadjs %}
    {% endblock %}

</body>

</html>