{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% include 'includes/head.html' %}
</head>

<body>
    <header class="container-fluid fixed-top">
        {% include 'includes/header.html' %}
    </header>

    <!-- messages -->
    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    <!-- main content -->
    {% block maincontent %}
    {% endblock %}

    <!-- footer (place inside block to give option to use footer on individual pages)-->
    {% block footer %}
        {% include 'includes/mobile-footer.html' %}
        {% include 'includes/main-footer.html' %}
    {% endblock %}
    
    <!-- js scripts to load at end of page -->
    {% block postloadjs %}
    {% endblock %}

</body>

</html>