{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h2>Product Management</h2>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h3>Edit Product</h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                <div class="d-flex-column align-items-center justify-content-around text-center row row-col-1 row-col-sm-2 row-col-lg-4 px-0 py-1 m-0">
                        <a class="py-2 py-sm-0 my-1 product-details-button col-12 col-sm-5 col-lg-4" href="{% url 'products' %}">Cancel</a>
                        <button class="py-2 py-sm-0 my-1 product-details-button col-12 col-sm-5 col-lg-4" type="submit">Update</button>
                </div>
            </form>
        </div>            
    </div>
</div>
{% endblock %}