{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Product Management</h2>
                <h5 class="text-muted">Edit a Product</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="d-flex-column align-items-center justify-content-around text-center row row-col-1 row-col-sm-2 row-col-lg-4 px-0 py-1 m-0">
                        <div class=>
                            <a class="py-2 py-sm-0 my-1 product-details-button col-12 col-sm-5 col-lg-4" href="{% url 'products' %}">Cancel</a>
                            <button class="py-2 py-sm-0 my-1 product-details-button col-12 col-sm-5 col-lg-4" type="submit">Edit</button>
                        </div>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}