{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h2>Products</h2>
{% endblock %}

{% block content %}
    <div class="container-fluid text-center">
        <div class="container-inner">
            <div class="row">
                <div class="border text-right col-12">Sort By Label and Dropdown</div>
            </div>

            <div class="row row-cols-md-3">
                <div class="content-title-filter border col-12 col-md-3 col-lg-2">
                    <div class="border row">
                        <div class="category-title col-12">Category Title</div>
                        <div class="category-filter border text-left d-none d-md-block col-12">Category Filter (show on md screens +)</div>
                    </div>
                </div>
                <div class="products-container col-12 col-md-9 col-lg-10 border">
                    <div class="row">
                        {% for product in products %}
                            <div class="border p-2 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                <!-- display individual product card-->
                                {% include 'products/includes/product-card.html' %}
                            </div>
                            
                            {% if forloop.counter|divisibleby:1 %}
                                <div class="col-12 d-md-none">
                                    <hr>
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:2 %}
                                <div class="col-12 d-none d-sm-none d-md-block d-lg-none">
                                    <hr>
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:3 %}
                                <div class="col-12 d-none d-lg-block d-xl-none">
                                    <hr>
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:4 %}
                                <div class="col-12 d-none d-xl-block">
                                    <hr>
                                </div>
                            {% endif %}

                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 border">Pagination</div>
            </div>
        </div>
    </div>
{% endblock %}