{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h2>Product Detail</h2>
{% endblock %}

{% block content %}
    <div class="container-fluid text-center">
        <div class="container-inner">
            <!-- product detail card -->
            <div class="row">
                <div class="border col-12">Product Detail</div>
            </div>

            <!-- product review -->
            <div class="row">
                <div class="border col-12">Product Review</div>
            </div>
        </div>
    </div>
{% endblock %}