{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h2>Product Detail</h2>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container-inner d-flex align-items-center justify-content-center text-center">
            <!-- product detail section -->
            <div class="border row row-col-md-2">
                <!-- Product Image -->
                <div class="border p-0 col-12 col-md-10 offset-md-1 col-lg-5 offset-lg-0">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="image-container rounded card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="image-container rounded card-img-top img-fluid" src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
                <!-- Product Details -->
                <div class="border d-flex align-items-stretch text-left col-12 col-md-10 offset-md-1 col-lg-7 offset-lg-0">
                    <div class="product-details border row">
                        <div class="product-details-title border col-12">{{ product.name }}</div>
                        <div class="border col-12">Add Review / [Edit | Delete Product (store owner only)]</div>
                        <div class="border col-12">Product Review Rating / Number of Reviews</div>
                        <div class="border col-12"><span>Category: </span>{{ product.category }}</div>
                        <div class="border col-12"><span>Brand: </span>{{ product.brand }}</div>
                        <div class="border col-12"><span>Weight: </span>{{ product.weight }}</div>
                        <div class="border col-12"><span>Description: </span>{{ product.description }}</div>
                        <div class="border col-12"><span>Price: </span>£{{ product.price }}</div>
                        <div class="border col-12"><span>Quantity: </span>(with Increment Bar)</div>
                        <div class="border col-12 col-md-auto">
                            <!-- Buttons -->
                            <div class="row">
                                <div class="col-3">Button - Add to Wishlist</div>
                                <div class="col-3">Button - Add to Basket</div>
                                <div class="col-3">Button - Checkout</div>
                                <div class="col-3">Button - Back to Store</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- product review section -->
        <div class="container-inner">
            <div class="border row">
                <div class="border col-12">Product Review Section</div>
            </div>
        </div>
    </div>
{% endblock %}